:root{
    --player-1-color: rgb(75,50,255);
    --player-2-color: rgb(255,50,75);
}

body{
    font-family: 'Kanit', sans-serif;
}

h1{
    text-align: center;
    font-weight: 600;
    font-size: 4em;
    margin: 15px;
}

h2{
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    margin: 15px;
    text-decoration: underline;
}

h4{
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    margin: 10px;
}

p{
    font-size: 1.5em;
    text-align: center;
}

.box{
    border: solid 3px;
    margin: 25px;
}

#player-1-box{
    border-color: var(--player-1-color);
}

#player-2-box{
    border-color: var(--player-2-color);
}

#chat{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.move{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}

#my-move{
    color: var(--player-1-color);
    font-size: 4em;
}

#opponent-move{
    color: var(--player-2-color);
    font-size: 4em;
}

@media screen and (max-width: 1200px){
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 992px){
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 2em;
    }
}