:root{
    --player-1-color: rgb(75,50,255);
    --player-2-color: rgb(255,50,75);
}

body{
    font-family: 'Kanit', sans-serif;
    background-color: #ddd;
}

h1{
    text-align: center;
    font-weight: 600;
    font-size: 4em;
    margin: 15px;
}

h2{
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    margin: 15px;
    text-decoration: underline;
}

h4{
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    margin: 10px;
}

p{
    font-size: 1.5em;
    text-align: center;
    margin: 15px;
    margin-top: 0px;
}

.chat-line{
    font-size: 1em;
    text-align: left;
    margin-bottom: 0px;
}

.box{
    border: solid 3px;
    margin: 25px;
    background-color: #fff;
}

.player-box{
    height: 400px;
}

#player-1-box{
    border-color: var(--player-1-color);
}

#player-2-box{
    border-color: var(--player-2-color);
}

#chat{
    width: 50%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.move{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px
}

#chat-box{
    height: calc(100% - 35px);
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

#chat-text{
    width: calc(100% - 96px);
    margin-top: 5px;
}

.btn-dark{
    margin-bottom: 4px;
}

#mute-button{
    width: 34px;
    text-align: left;
}

#my-move{
    color: var(--player-1-color);
    font-size: 3.75em;
}

#opponent-move{
    color: var(--player-2-color);
    font-size: 3.75em;
}

#header-container{
    position: relative;
}

#message{
    position: absolute;
    font-size: 8em;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 52%);
    text-align: center;
    z-index: 1;
    color: #fff;
    background-color: var(--player-2-color);
    border: solid 3px #fff;
    padding: 15px;
    opacity: 0;
    display: none;
}

@media screen and (max-width: 1200px){
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.5em;
    }
    .move{
        margin-top: 30px;
    }
    .player-box{
        height: 350px;
    }
    #chat{
        width: 70%;
    }
    #message{
        font-size: 7em;
        width: 35%;
    }
}

@media screen and (max-width: 992px){
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 2em;
    }
    .move{
        margin-top: 10px;
    }
    .player-box{
        height: 300px;
    }
    #chat{
        width: 90%;
    }
    #my-move{
        font-size: 3em;
    }
    #opponent-move{
        font-size: 3em;
    }
    #message{
        font-size: 6em;
        width: 45%;
    }

    p{
        font-size: 1.25em;
    }
}